<!DOCTYPE html>
<html>
<head>
	<title>Circles</title>
	<script type="text/javascript" src="js/paper-full.js"></script>
	<link rel="stylesheet" type="text/css" href="css/circles.css">
	<script type="text/paperscript" src='js/suma.js' canvas="myCanvas"></script>
</head>
<body>
	   <p style="color:white;padding-left:20px;">Press any key from a-z or click anywher on the screen.</p>
		 <canvas id="myCanvas" resize></canvas>

</body>
</html>
